.box{
    width: 100%;
    height: auto;
}
.my_text{
    line-height: 50px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: relative;
    background: #fff;
    height: 50px;
    border-bottom: 15px solid rgba(242, 242, 242, 1);
}
.left{
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    left: 10px;
}
.left img{
    width: 20px;
    height: 20px;
}
.jian{
    line-height: 50px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    /* text-align: center; */
    position: relative;
    background: #fff;
    height: 50px;
    border-bottom: 10px solid rgba(242, 242, 242, 1);
    color: #333;
}
.jian div:nth-of-type(1){
    position: absolute;
    background: black;
    top: 15px;
    width: 20px;
    height: 20px;
    left: 10px;
}
.cha{
    margin-left: 50px;
}