.my_top{
    width: 375px;
    height: 50px;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
}
.my_div{
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
}
.my_text{
    line-height: 50px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.clock{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 31px;
    height: 31px;
}
.clock img{
    width: 31px;
    height: 31px;
}
.denglu{
    background: #fff;
    width: 375px;
    height: 88px;
    margin-bottom: 10px;
}
.touxiang{
    border-width: 0px;
    position: absolute;
    top: 100px;
    margin-left: 10px;
    width: 62px;
    height: 62px;
    background:red;
    border-radius: 50%;
}
.touxiang img{
    border-width: 0px;
    width: 62px;
    height: 62px;
}
.WX_name{
    position: absolute;
    left: 40%;
    top: 125px;
    width: 121px;
    height: 16px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.WX_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.WX_text{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    white-space: nowrap;
}
.setup{
    background: #fff;
    margin-bottom: 2px;
    width: 375px;
    height: 44px;
    line-height: 44px;
}
.setup_text{
    margin-left: 30px;
}