.box{
    width: 100%;
    height: auto;
}
.my_text{
    line-height: 50px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: relative;
}
.left{
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    left: 10px;
}
.left img{
    width: 20px;
    height: 20px;
}
.li{
    line-height: 44px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    /* text-align: center; */
    position: relative;
    background: #fff;
    height: 44px;
    border-bottom: 2px solid rgba(242, 242, 242, 1);
    color: #333;
    width: 100%;
}
.shang{
    margin-left: 10px;
    width: 90%;
    float: left;
}
.leftqq{
    /* height: 44px; */
    /* line-height: 50px; */
    /* margin-left: 10px; */
    /* float: left; */
    position: absolute;
    background: black;
    top: 15px;
    width: 20px;
    height: 20px;
    right: 10px;
}
.leftqq img{
    width: 19px;
    height: 19px;
}