.hea{
    height: 51px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.lll{
    margin-left: 10px;
    float: left;
    line-height: 56px;
}
.lll img{
    width: 12px;
    height: 19px;
}
.ss{
    /* flex: 1; */
    /* display: flex; */
    border: 1px solid #ccc;
    width: 210px;
    height: 39px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}
.ss a{
    width: 49.999%;
    float: left;
    line-height: 39px;
    text-align: center;
    color: rgba(25, 158, 216, 1);
}
.ss a:nth-of-type(2){
    background: rgba(25, 158, 216, 1);
    color: #fff;
}
.hea div:nth-of-type(2){
    margin-right: 10px;
    float: right;
    line-height: 62px;
}
.hea div:nth-of-type(2) img{
    width: 24px;
    height: 24px;
}
.leiq{
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    border-top: 10px solid #f2f2f2;
    border-bottom: 10px solid #f2f2f2;
    background: #fff;
}
.leiq div{
    width: 49%;
    float: left;
}
.leiq div:nth-of-type(1){
    border-right: 2px solid #f2f2f2;
}
.mu{
    height: 64px;
    background: #fff;
    border-bottom: 5px solid #f2f2f2;
}
.mu_left{
    float: left;
    margin-left: 15px;
    line-height: 30px;
    font-size: 14px;
}
.mu_right{
    float: right;
    margin-right: 15px;
    line-height: 30px;
}
.mu_right_topp{
    font-family: 'Arial Negreta', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FF0000;
    text-align: right;
}
.mu_right_bottom{
    color: #999999;
    text-align: right;
}